/* ==========================================================================
   Authors: Jason Ardener, Elise Worrall, Chris Jenkins, Joe Flood;
   ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow);

::selection {
	background: #333;
	color: #FFF;
}

::-webkit-scrollbar {
	width: 9px;
}

::-webkit-scrollbar-track {
	background:#eee;
	border: thin solid lightgray;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1) inset;
}

::-webkit-scrollbar-thumb {
	background:#999;
	border: thin solid gray;
}

/* --------------------------
	Body
----------------------------- */

body {
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-size  : 62.5%;
	background: url('../images/bg.gif');
	border-top: 10px solid #9d2e2c;
	text-align: left;
}

a {text-decoration: none;}
a:link {color: #666;}
a:visited {color: #666;}
a:hover {color: #000;}
a:active {text-decoration:none;}

/* --------------------------
	Container
----------------------------- */

#content table {
	width: 990px;
	min-width: 990px;
	margin: 10px auto;
	font-size: 1.4em;
	-webkit-transform: translateZ(0);
}

.container, #content {
  width: 90%;
  margin: 0 auto;
  overflow: auto;
}

/* --------------------------
	Header
----------------------------- */
#header h1 {
	text-align: center;
	font-weight: 300;
	font-size: 8em;
	padding: 25px 0 15px 0;
  	margin: 0;
}

/* --------------------------
	Navigation
----------------------------- */

#menu ul {
	list-style: none;
	padding: 0;
	margin: 40px 0;
	text-align: center;
	font-size: 1.4em;
}

#menu ul li {
	display: inline;
	cursor: pointer;
	margin-right: 10px;

	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	-ms-transition: 0.3s;
}

#menu ul li:last-child {
	margin-right: 0;
}

#menu ul li:after {
	margin-left: 10px;
	content: '/';
}

#menu ul li:last-child:after {
	content: '';
}

/* --------------------------
	Main Image Box
----------------------------- */

.work {
	margin: 20px 0;
}

.work figure {
	float: left;
	margin: 20px;
	width: 200px;
	height: 200px;
	background: #9d2e2c;
	line-height: 200px;
	-webkit-filter: sepia(0.4);
	position: relative;
	padding: 0 !important;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
	transition: 0.6s;
	-webkit-transition: 0.6s;
	-moz-transition: 0.6s;
	-o-transition: 0.6s;
	-ms-transition: 0.6s;
}

.work figure a img {
	height: 100%;
	width: 100%;
}

.work figure dl {
	opacity: 0;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	padding: 20px;
	margin: 0;
	line-height: 2.5;
	background: rgba(0, 0, 0, 0.8);
	color: white;
	transition: 0.6s;
	-webkit-transition: 0.6s;
	-moz-transition: 0.6s;
	-o-transition: 0.6s;
	-ms-transition: 0.6s;
}

.work figure:hover dl {
	opacity: 1;
}

.work figure dl dt {
	text-transform: uppercase;
	font-family: 'PT Sans Narrow';
	font-size: 1.2em;
	margin-bottom: -16px;
}

.work figure dl dd {
	margin-left: 0;
}

.current-li {
	color: #000;
}

.current {
	-webkit-filter: sepia(0) !important;

	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-o-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);

	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
}

.not-current {
	-webkit-transform: scale(0.75);
	-moz-transform: scale(0.75);
	-o-transform: scale(0.75);
	-ms-transform: scale(0.75);
	transform: scale(0.75);

	-webkit-filter: grayscale(1) !important;
}

.not-current:hover dl {
	opacity: 0 !important;
}

/*---------------------------
	Process table
----------------------------- */
table .processes {
	font-size: 98% !important;
}

/* --------------------------
	Processes & Ports
----------------------------- */
div#procsportsgraph > div.legend > table {
	min-width: 32px !important;
	width: 90px !important;
}

div#procsportsgraph {
	width: 1000px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
}

div#spinner {
	margin-left: auto;
	margin-right: auto;

	width: 100px;
	height: 100px;
	background: url(/images/spinner.gif);
}

/* --------------------------
	Tree
----------------------------- */
pre {
  font-size: 1em;
}

.nText:hover {
  cursor: pointer;
  font-weight: bold;
}